* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: whitesmoke;
    width: 100%;
    max-width: 700px;
}

header {
    background: #003E73;
    height: 100px;
    text-align: center;
}


header > p {
    color: whitesmoke;
    font-family: monospace;
    font-size: 30px;
    margin: 0;
    padding-top: 13px;
}

.countdown {
    font-family: cursive, sans-serif;
    text-align: center;
}

.countdown > h1 {
    width: 90%;
    margin: 25px auto;
    font-family: Tahoma;
    font-size: 50px;
    border: 2px solid #003E73
}

footer {
    font-family: monospace;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

footer img {
    height: 40px;
}

footer a {
    text-decoration: none;
    color: #003E73;
}