* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: whitesmoke;
    width: 100%;
    max-width: 700px;
}

header {
    height: 100px;
    text-align: center;
    align-items: center;
    background: #003E73;
}

header > p {
    font-family: monospace;
    color: whitesmoke;
    font-size: 30px;
    padding-top: 12px;
}

.countdown {
    font-family: cursive, sans-serif;
    text-align: center;
}

.countdown > h1 {
    width: 90%;
    margin: 25px auto;
    font-family: Tahoma;
    font-size: 50px;
    border: 2px solid #003E73
}

footer {
    width: 90%;
    margin: 50px auto;
    text-align: center;
    font-family: monospace;
    border: 1px solid #003E73
}

footer a {
    text-decoration: none;
    color: #003E73;
}